<section id="tasks">
  <header>
    <h2>{{ taskOwner }} ' tasks</h2>
    <menu>
      <button (click)="onAddNewTask()">Add Task</button>
    </menu>
  </header>
  <ul #scrollableTasks >
    <!-- conventional practice -->
    <!-- <li *ngFor="let task of tasks">
                <app-user-task [task]="task" (selectedTask)="deleteTask($event)"/>
            </li> -->

    <!-- new built in form of using structural directive -->
    @for (task of tasks; track task.id) {
    <li>
      <app-user-task [task]="task" (selectedTask)="deleteTask($event)" />
    </li>
    } 
    @if(!tasks.length){
      <p>No tasks available</p>
    }
    @if(addNewTask){
      <app-create-task (cancleTask)="onCancleTask()" (createTask)="onCreateTask($event)"/>
    }
    <!-- @for (n of newTask; track $index) {
    <app-create-task [taskIndex]="n" />
    } -->
    <!-- or -->
    <!-- @for (task of tasks; track $index) {
                <li>
                    <app-user-task [task]="task"/>
                </li>
            } -->
  </ul>
</section>
