<app-header />

<main>
  <!--Users list-->
  <ul id="users">
    <li *ngFor="let u of users">
      <app-user [user]="u" 
      (selectedUser)="onSelectUser($event)"
      [highlightSelected]="u.id === taskOwnerId"
       />
    </li>
    <!-- <li>No users found</li> -->
  </ul>
  <app-task
    *ngIf="taskOwnerName; else fallBacktaskOwnerName"
    [taskOwner]="taskOwnerName"
  />
  <ng-template #fallBacktaskOwnerName>
    <p>Select a user to see/add Tasks</p>
  </ng-template>

  <!-- <button (click)="clearUser()"></button> -->
</main>
